@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

div {
    font-family: Outfit;
    font-weight: 400;
}

@media only screen and (max-width:1440px) {
    div {
        color: red;
    }
}

body{
    background-color: hsl(212,45%,89%);
    font-size: 15px;

}

div{
    position: absolute;
    bottom: 5px;
}